flows.json
[
    {
        "id": "46d2545b420eab9d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "98889a65e77cd13d",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "https://test.mosquitto.org/",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d9465bcadaf85c02",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c154c03a0220b589",
        "type": "ui_group",
        "name": "Default",
        "tab": "378cb46bed021033",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "378cb46bed021033",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "84e0a1173623d53c",
        "type": "function",
        "z": "46d2545b420eab9d",
        "name": "function 1",
        "func": "msg.payload = {\n    texto: msg.payload,\n    data: Date.now()\n    }\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 140,
        "wires": [
            [
                "28f66d6c26705b2a"
            ]
        ]
    },
    {
        "id": "28f66d6c26705b2a",
        "type": "mqtt out",
        "z": "46d2545b420eab9d",
        "name": "",
        "topic": "cadeteTeste76",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "98889a65e77cd13d",
        "x": 680,
        "y": 140,
        "wires": []
    },
    {
        "id": "4b7198f901adb748",
        "type": "mqtt in",
        "z": "46d2545b420eab9d",
        "name": "",
        "topic": "cadeteTeste76",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "98889a65e77cd13d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 200,
        "wires": [
            [
                "5f448d2c92033784",
                "0af27723f9ee6007"
            ]
        ]
    },
    {
        "id": "20a428f19e3c07d2",
        "type": "change",
        "z": "46d2545b420eab9d",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload.texto",
                "pt": "msg",
                "from": "Bom dia",
                "fromt": "str",
                "to": "Boa noite",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 220,
        "wires": [
            [
                "bfc48538501ecb4e"
            ]
        ]
    },
    {
        "id": "5cd39aaf3613fa22",
        "type": "ui_text",
        "z": "46d2545b420eab9d",
        "group": "c154c03a0220b589",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Data de envio:",
        "format": "{{msg.payload.data}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 880,
        "y": 560,
        "wires": []
    },
    {
        "id": "bfc48538501ecb4e",
        "type": "ui_text",
        "z": "46d2545b420eab9d",
        "group": "c154c03a0220b589",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Texto:",
        "format": "{{msg.payload.texto}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 870,
        "y": 340,
        "wires": []
    },
    {
        "id": "5f448d2c92033784",
        "type": "switch",
        "z": "46d2545b420eab9d",
        "name": "",
        "property": "payload.texto",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Bom dia",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 220,
        "wires": [
            [
                "20a428f19e3c07d2"
            ],
            [
                "bfc48538501ecb4e"
            ]
        ]
    },
    {
        "id": "0af27723f9ee6007",
        "type": "switch",
        "z": "46d2545b420eab9d",
        "name": "",
        "property": "payload.data",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "8",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 400,
        "wires": [
            [
                "6a5aaaf6cf5fd653"
            ],
            [
                "5cd39aaf3613fa22"
            ]
        ]
    },
    {
        "id": "6a5aaaf6cf5fd653",
        "type": "change",
        "z": "46d2545b420eab9d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.data",
                "pt": "msg",
                "to": "8 presente",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 400,
        "wires": [
            [
                "5cd39aaf3613fa22"
            ]
        ]
    },
    {
        "id": "481fc96e226aa56e",
        "type": "ui_text_input",
        "z": "46d2545b420eab9d",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "c154c03a0220b589",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "84e0a1173623d53c"
            ]
        ]
    }
]